/*================================
=            GENERAL            =
================================*/

#primary {
	float: left;
	width: 100%;
	background: white;
	padding: 80px 0;

	h1, h2 {
		text-transform: uppercase;
		font-size: 42px;
	}

	article {

		.pad {
			padding-right: 2.3559%;
		}
	}

	.columns {

		img {
			display: block;
			margin-top: 40px;

			@media (#{$bp-larger-than-tablet}) {
				margin-top: 0;
			}
		}

		.more {

			border: 2px solid $color__brand-primary;
			padding: 15px;
			text-align: center;
			text-transform: uppercase;
			display: block;
			margin-top: 30px;
		}
	}
}

#subtypes {
	float: left;
	width: 100%;
	padding: 60px 0 20px 0;
	background-color: $color__background-footer;
	color: white;

	@media (#{$bp-larger-than-tablet}) {
		padding: 60px 0;
	}

	.row {
		margin-bottom: 30px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.type {

		@media (#{$bp-smaller-than-tablet}) { 
			width: 50%;
			margin-bottom: 40px;
		}

		a {
			color: white;
			text-decoration: none;

			&:hover {
				color: $color__brand-primary;
			}
		}

		img, svg {
			display: block;
			width: 80%;
			margin: 0 auto;
		}

		svg:hover path {
			fill: $color__brand-primary;
		}

		h4 {
			text-align: center;
			margin: 20px 0 0 0;
			font-size: 19px;
			text-transform: uppercase;
		}
	}
}


#tweets {
	float: left;
	width: 100%;
	padding: 80px 0;
	
	.tweet-box {
		text-align: center;
		width: 100%;

		header {
			border: 0;
			margin: 0;

			h2 {
				margin: 0 0 30px;
				font-family: 'Zona Pro Black';
				font-size: 42px;
				text-transform: uppercase;
				color: $color__brand-primary;
			}
		}

		p {
			margin-bottom: 0;
			padding: 0;
		}

		.tweet {
			padding: 0 40px;

			@media (#{$bp-larger-than-tablet}) { 
				padding: 0;
			}
		}


		.slick-prev, .slick-next {
			background-repeat: no-repeat;
			background-size: 100% auto;
			width: 50px;
			height: 50px;

			&:before {
				display: none;
			}
		}

		.slick-next {
			background-image: url(assets/images/right-chevron.svg);
		}
		.slick-prev {
			background-image: url(assets/images/left-chevron.svg);
		}
	}
}

#mappy {
	float: left;
	width: 100%;
	padding: 80px 0;
	background-color: #f9f9f9;
}

#featureimage {
	height: 100vh;
	position: relative;

	@media (#{$bp-larger-than-tablet}) { 
		height: 60vh;
	}

	.columns {
		@media (#{$bp-smaller-than-tablet}) { 
			width: 100%;
		}
	}

	.caption {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;

		.copy {

			h1 {
				color: white;
				margin: 0 0 30px;
				font-family: 'Zona Pro Black';
				font-size: 31px;
				text-transform: uppercase;

				@media (#{$bp-larger-than-tablet}) {
					font-size: 42px;
				}
			}

			p {
				color: white;
				margin: 0 0 30px;
			}

			a {
				color: white;
				border: 1px solid white;
				padding: 15px 25px;
				margin-top: 15px;
				text-decoration: none;
				text-transform: uppercase;
				font-family: 'Zona Pro Bold';
				font-size: 16px;
			}
		}
	}
}

#sects {
	float: left;
	width: 100%;
	padding: 80px 0;
	background-color: #f9f9f9;

	.type-page {
		
		img {
			width: 160px;
			margin: 0 auto 40px auto;
		}

		h3 {
			font-size: 20px;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}
}

#sup {
	float: left;
	width: 100%;
	padding: 80px 0;
	background-color: #f9f9f9;

	.row {
		margin-bottom: 80px;
		padding-bottom: 80px;
		border-bottom: 1px solid #ccc;

		@media (#{$bp-larger-than-tablet}) {
		}

		&:last-of-type {
			margin-bottom: 0;
			border-bottom: 0;
			padding-bottom: 0;
		}
	}

	.columns {
		float: none;

		@media (#{$bp-smaller-than-tablet}) { 
			width: 100%;
			margin-bottom: 20px;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		@media (#{$bp-larger-than-tablet}) {
			display: table-cell;
			vertical-align: middle;
		}

		img {
			width: 100%;
		}

		&.two {
			display: none;

			@media (#{$bp-larger-than-tablet}) {
				display: table-cell;
			}
		}
	}
}

/*================================
=            HOMEPAGE            =
================================*/

.home {

	#featureimage {
		height: 100vh;

		.caption {
			background-color: rgba($color__brand-primary, 0.8);

			@media (#{$bp-larger-than-desktop}) {
				background-color: transparent;
			}
		}
	}

	#primary {

		h1 {
			text-transform: uppercase;
			font-size: 31px;
			margin: 0;

			@media (#{$bp-larger-than-tablet}) {
				font-size: 42px;
			}
		}

		header {
			margin-bottom: 80px;

			@media (#{$bp-larger-than-tablet}) {
				margin-bottom: 0;
			}
		}

		article {

			.pad {
				@media (#{$bp-larger-than-tablet}) {
					padding-left: 2.3559%;
					border-left: 2px solid $color__brand-primary;
				}
			}
		}
	}

	#cta {
		float: left;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		height: auto;
		padding: 100px 0;

		@media (#{$bp-larger-than-tablet}) {
			height: 50vh;
		}

		.text {

			h1 {
				color: white;
				margin: 0 0 30px;
				font-family: 'Zona Pro Black';
				font-size: 42px;
				text-transform: uppercase;
			}

			p {
				color: white;
				margin: 0 0 30px;
			}

			a {
				color: white;
				border: 1px solid white;
				padding: 10px 20px;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}

	#tweets {
		background-color: white;
	}
}

/*============================
=            NEWS            =
============================*/

.blog {

	#primary {

		.columns {

			article {
				margin-bottom: 40px;
				padding-bottom: 40px;
				border-bottom: 1px solid #ccc;

				header {
					margin-bottom: 20px;

					h1, h2 {
						margin-bottom: 0;
						font-size: 30px;

						a {
							text-decoration: none;
							color: inherit;

							&:hover {
								color: $color__brand-primary;
							}
						}
					}
				}
			}

			img {
				display: block;
				height: auto;
				margin-bottom: 40px;
			}
		}
	}
}

.single {

	#secondary {
		margin-top: 40px;

		@media (#{$bp-larger-than-tablet}) {
			margin-top: 0;
		}
	}
}