$color__background-body: #fff;
$color__background-screen: #ffffff;
$color__background-hr: #242424;
$color__background-button: #ffffff;
$color__background-pre: #f9f9f9;
$color__background-ins: #f9f9f9;

$color__brand-primary: #f6283b; // RED

$color__text-screen: #464646; // dark grey
$color__text-input: #464646;
$color__text-input-focus: #464646;
$color__link: $color__brand-primary;
$color__link-visited: $color__brand-primary;
$color__link-hover: $color__brand-primary;
$color__text-main: #464646;

$color__border-button: $color__brand-primary;
$color__border-button-hover: $color__brand-primary;
$color__border-button-focus: $color__brand-primary;
$color__border-input: $color__brand-primary;
$color__border-abbr: $color__brand-primary;
